:root {
    font-size: 16px;
    --color-brand: #1b87a8;
    --color-light-shade: #f6f1f4;
    --color-dark-shade: #1d202d;
    --color-light-accent: #5dbbd0;
    --color-dark-accent: #777b6d;
}

*:not([class^="fa"]) {
    font-family: "Inter", sans-serif;
}

body {
    background-image: url("../60-lines.png");
    background-color: var(--color-dark-shade) !important;
    color: var(--color-light-shade) !important;
}

i {
    margin-right: 0.25rem;
}

main.container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 0 1rem;
}

.main-header {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.main-header__portrait {
    border-radius: 50%;
    width: auto;
    height: 12rem;
}

.main-header-info {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.main-header-info__name {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.main-header-info__email {

}

.main-header-info__email-link {
    color: var(--color-brand);
    font-weight: 600;
    position: relative;
    left: -0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.2s ease-in,
    background-color 0.2s ease-in;
}

.main-header-info__email-link:hover {
    background-color: var(--color-light-shade);
}

.main-header-info__email-link > i {
    margin-right: 0.5rem;
}

.main-header-info__email-link > span {
    letter-spacing: 0.1rem;
    position: relative;
    top: -0.1rem;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    background-color: rgba(128, 128, 128, 0.1);
}

.navigation__item {
    padding: 1rem;
    color: var(--color-brand);
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}

.navigation__item:hover {
    cursor: pointer;
    background-color: var(--color-light-shade) !important;
}

a.navigation__link {
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: inherit;
}


.tech-stack h3,
.project-card h3 {
    margin-bottom: 1rem;
}

.tech-stack ul {
    list-style: none;
    padding-left: 0;
}

.tech-stack li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.resume-section__header {
    text-align: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.resume-section__header h2 {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.15rem;
}

.resume-section__header::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-dark-accent);
    z-index: 0;
}

p {
    line-height: 1.5rem;
}

.resume-section__header > h2 {
    display: inline-block;
    padding: 0 3rem;
    background-color: var(--color-dark-shade);
    background-image: url("../60-lines.png");
    position: relative;
    z-index: 1;
}

/*.section-header > h2::before,*/
/*.section-header > h2::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: 100%;*/
/*    height: 0.05rem;*/
/*    background-color: var(--color-dark-accent);*/
/*}*/

.resume-section__header > h2::before {
    right: 100%;
}

.resume-section__header > h2::after {
    left: 100%;
}

.tech-stack-container {
    display: flex;
    flex-direction: column;
}

.tech-stack-category {
    margin-bottom: 0.5rem;
}

.tech-stack-category h6 {
    color: var(--color-light-accent);
}

.tech-stack-category ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.tech-stack-category li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-light-shade);
    color: var(--color-dark-shade);
    /*border-radius: 4px;*/
}

.timeline-item {
    margin-bottom: 2rem;
}

.timeline-item__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;

}

.timeline-date {
    font-style: italic;
    color: var(--color-dark-accent);
}

.timeline-content {
    margin-top: 1rem;
}

.timeline-content h5 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.timeline-content ul {
    margin-bottom: 0;
}

.timeline-content ul li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

.projects {
    padding-bottom: 5rem;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    background-color: var(--color-light-shade);
    color: var(--color-dark-shade);
    max-width: 20rem;
}

.project-list {
    list-style: none;
    padding-left: 0;
}