:root {
    font-size: 16px;
    --color-brand: #1b87a8;
    --color-light-shade: #f6f1f4;
    --color-dark-shade: #1d202d;
    --color-light-accent: #5dbbd0;
    --color-dark-accent: #777b6d;
}

/* Global Styles */
*:not([class^="fa"]) {
    font-family: "Inter", sans-serif;
}

body {
    background-image: url("../60-lines.png");
    background-color: var(--color-dark-shade);
    color: var(--color-light-shade);
}

.icon {
    margin-right: 0.25rem;
}

.text {
    line-height: 1.5rem;
}

/* Main Container */
main.container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 0 1rem;
}

/* Main Header */
.main-header {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.main-header__portrait {
    border-radius: 50%;
    width: auto;
    height: 12rem;
}

.main-header-info {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.main-header-info__name {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.main-header-info__email-link {
    color: var(--color-brand);
    font-weight: 600;
    position: relative;
    left: -0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.main-header-info__email-link:hover {
    background-color: var(--color-light-shade);
}

.main-header-info__email-link > span {
    letter-spacing: 0.1rem;
    position: relative;
    top: -0.1rem;
}

/* Navigation */
.navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    background-color: rgba(128, 128, 128, 0.2);
}

.navigation__item {
    padding: 1rem;
    color: var(--color-brand);
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}

.navigation__item:hover {
    cursor: pointer;
    background-color: var(--color-light-shade);
}

a.navigation__link {
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: inherit;
}

/* Resume Section */
.resume-section__header {
    text-align: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.resume-section__header h2 {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 0 3rem;
    background-color: var(--color-dark-shade);
    background-image: url("../60-lines.png");
    position: relative;
    z-index: 1;
}

.resume-section__header::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-dark-accent);
    z-index: 0;
}

/* Technologies */
.tech-stack h3,
.project-card h3 {
    margin-bottom: 1rem;
}

.tech-stack ul {
    list-style: none;
    padding-left: 0;
}

.tech-stack li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.tech-stack-container {
    display: flex;
    flex-direction: column;
}

.tech-stack-category {
    margin-bottom: 0.5rem;
}

.tech-stack-category h6 {
    color: var(--color-light-accent);
}

.tech-stack-category ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.tech-stack-category li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-light-shade);
    color: var(--color-dark-shade);
}

/* Experience */
.experience__item {
    margin-bottom: 2rem;
}

.experience-item__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-style: italic;
    color: var(--color-dark-accent);
}

.experience-item__details {
    margin-top: 1rem;
}

.experience-item-details__header-text {
    color: var(--color-light-accent);
}

.experience-item-details__list {
    margin-bottom: 0;
}

.experience-item-details__list-item {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

/* Projects */
.projects {
    padding-bottom: 5rem;
}

.project-card {
    width: 18rem;
    padding: 0.25rem 0.75rem 0.75rem;
    border: 0.25rem solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.2);
}

.project-card-header {
    color: var(--color-brand);
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.project-card-header__text > i {
    margin-right: 0;
}

.project-card-header__text > a {
    text-decoration: none;
    color: inherit;
}

.project-card__description, .project-card__tech-stack {
    color: var(--color-light-shade);
}