:root {
    font-size: 16px;
    --color-brand: #1b87a8;
    --color-light-shade: #f6f1f4;
    --color-dark-shade: #1d202d;
    --color-light-accent: #5dbbd0;
    --color-dark-accent: #777b6d;
}

/* Global Styles */
*:not([class^="fa"]) {
    font-family: "Inter", sans-serif;
}

body {
    background-image: url("../60-lines.png");
    background-color: var(--color-dark-shade);
    color: var(--color-light-shade);
}

.icon {
    margin-right: 0.25rem;
}

.text {
    line-height: 1.5rem;
}

.inline-link {
    color: var(--color-brand);
    font-weight: 600;
    transition: color 0.2s ease-in, font-size 0.2s ease-in, text-shadow 0.2s ease-in;
}

.inline-link:hover {
    color: var(--color-light-accent);
    font-size: 1.02rem;
    text-shadow: 0 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
}

/* Main Container */
main.container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 2rem;
}

/* Main Header */
.main-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.main-header__portrait {
    border-radius: 50%;
    width: auto;
    height: 12rem;
}

.main-header-info {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.main-header-info__name {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.main-header-info__email-link {
    color: var(--color-brand);
    font-weight: 600;
    position: relative;
    left: -0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.main-header-info__email-link:hover {
    background-color: var(--color-light-shade);
}

.main-header-info__email-link > span {
    letter-spacing: 0.1rem;
    position: relative;
    top: -0.1rem;
}

/* Navigation */
.navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    background-color: rgba(128, 128, 128, 0.2);
}

.navigation__item {
    padding: 1rem;
    color: var(--color-brand);
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}

.navigation__item:hover {
    cursor: pointer;
    background-color: var(--color-light-shade);
}

a.navigation__link {
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: inherit;
}

/* Resume Section */
.resume-section__header {
    text-align: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.resume-section__header h2 {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 0 3rem;
    background-color: var(--color-dark-shade);
    background-image: url("../60-lines.png");
    position: relative;
    z-index: 1;
}

.resume-section__header::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-dark-accent);
    z-index: 0;
}

/* Technologies */
.tech-stack h3 {
    margin-bottom: 1rem;
}

.tech-stack ul {
    list-style: none;
    padding-left: 0;
}

.tech-stack li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.tech-stack-container {
    display: flex;
    flex-direction: column;
    margin-right: -1rem;
}

.tech-stack-category {
    margin-bottom: 0.5rem;
}

.tech-stack-category h6 {
    color: var(--color-light-accent);
}

.tech-stack-category ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.tech-stack-category li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-light-shade);
    color: var(--color-dark-shade);
}

/* Experience */
.experience__item {
    margin-bottom: 2rem;
}

.experience-item__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-style: italic;
    color: var(--color-dark-accent);
    margin-top: -0.25rem;
}

.experience-item__job-title {
    margin-right: 1rem;
}

.experience-item__company {
    margin-right: 1rem;
}

.experience-item__details {
    margin-top: 0.5rem;
}

.experience-item-details__header-text {
    color: var(--color-light-accent);
}

.experience-item-details__list {
    margin-left: -2rem;
    margin-bottom: 0;
    list-style: none;
}

.experience-item-details__list-item {
    margin-top: 0.5rem;
    line-height: 1.5rem;
}

.experience-item-details__list-item > i {
    color: var(--color-light-accent);
}

/* Projects */
.projects {
    padding-bottom: 5rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-card {
    width: 19rem;
    height: 22rem;
    padding: 0.25rem 0.75rem 0.75rem;
    border: 0.25rem solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.2);
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.project-card-header {
    color: var(--color-brand);
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.project-card-header__text {
    font-size: 1.25rem;
}

.project-card-header__text > i {
    margin-right: 0;
}

.project-card-header__text > a {
    color: inherit;
    transition: color 0.2s ease-in, font-size 0.2s ease-in, text-shadow 0.2s ease-in;
}

.project-card-header__text > a:hover {
    color: var(--color-light-accent);
    font-size: 1.30rem;
    text-shadow: 0 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
}

.project-card__description {
    flex-grow: 1;
}

.project-card__description, .project-card__tech-stack {
    color: var(--color-light-shade);
}

.project-card__tech-stack-wrapper {
    margin-top: auto;
}

@media screen and (max-width: 660px) {
    .main-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-header__portrait {
        margin-bottom: 1rem;
    }

    .main-header-info {
        margin-left: 0;
    }

    .main-header-info__email-link {
        left: 0;
    }
}

@media screen and (max-width: 660px) {
    .main-header__portrait {
        width: 10rem;
        height: 10rem;
    }

    .main-header-info__name {
        font-size: 2.5rem;
    }

    .navigation {
        margin-top: -1.5rem;
    }

    .navigation__list {
        flex-direction: column;
        align-items: center;
    }

    .navigation__item {
        padding: 0.5rem;
        text-align: center;
    }

    .tech-stack-category li {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
    }

    .experience-item__header > h5 {
        font-size: 1.1rem;
    }

    .experience-item__header > h6 {
        font-size: 0.9rem;
    }
}