:root {
    font-size: 16px;
    --color-brand: #1B87A8;
    --color-light-shade: #F6F1F4;
    --color-dark-shade: #1D202D;
    --color-light-accent: #5DBBD0;
    --color-dark-accent: #777B6D;
}

* {
    font-family: "Inter", sans-serif !important;
}

body {
    background-image: url('60-lines.png');
    background-color: var(--color-dark-shade) !important;
    color: var(--color-light-shade) !important;
}

main.container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 0 1rem;
}

.main-header__portrait {
    border-radius: 50%;
    width: auto;
    height: 12rem;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    background-color: rgba(128, 128, 128, 0.1);
}

.navigation__list:hover {
    background-color: rgba(128, 128, 128, 0);
}

.navigation__item {
    padding: 1rem;
    color: var(--color-brand);
    font-weight: 600;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.navigation__item:hover {
    cursor: pointer;
    background-color: var(--color-light-shade) !important;
}

a.navigation__link {
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: inherit;
}